# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '/Users/arunsisarran/Documents/GitHub/ds-fall-2025-fri-1230/Week-02-Pandas-Part-2-and-DS-Overview/data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [7]:
# Count by hand. (lol kidding)
df_food.size

7625

What are the columns and their types in this data set?

In [10]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [22]:
# Remove ‚Äòem.
important_cols = ['calories_day', 'weight', 'Gender']
df_food = df_food[important_cols]

What about `NaN`s? How many are there?

In [23]:
# Count ‚Äòem.
df_food.isnull().sum().sum()

np.int64(21)

We gotta remove those `NaN`s‚Äïthe entire row.

In [26]:
# Drop ‚Äòem.
df_cleaned = df_food.dropna()
df_cleaned.head()

   calories_day                    weight  Gender
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1
5           3.0                       190       1

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [28]:
# Fix that.
df_cleaned = df_cleaned.copy()

df_cleaned['weight'] = pd.to_numeric(df_cleaned['weight'], errors='coerce')
df_cleaned = df_cleaned.dropna(subset=['weight'])
df_cleaned['weight'] = df_cleaned['weight'].astype('int64')

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [29]:
# Savey save!
df_cleaned.to_csv('cleaned_data.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [33]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df = pd.read_csv('/Users/arunsisarran/Documents/GitHub/ds-fall-2025-fri-1230/Week-02-Pandas-Part-2-and-DS-Overview/data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep="\t")
df.head

<bound method NDFrame.head of                 Timestamp How old are you?  What industry do you work in?  \
0      4/27/2021 11:02:10            25-34   Education (Higher Education)
1      4/27/2021 11:02:22            25-34              Computing or Tech
2      4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41            25-34                     Nonprofits
4      4/27/2021 11:02:42            25-34  Accounting, Banking & Finance
...                   ...              ...                            ...
28057  7/12/2024 22:52:01            35-44                    Health care
28058  7/23/2024 17:51:03            25-34              Computing or Tech
28059  7/24/2024 12:22:58            18-24  Accounting, Banking & Finance
28060  7/26/2024 11:20:45            18-24              Computing or Tech
28061   8/20/2024 1:06:13            25-34                    Health care

                                      Job title  \
0            Research and Instruction Librarian
1      Change & Internal Communications Manager
2                          Marketing Specialist
3                               Program Manager
4                            Accounting Manager
...                                         ...
28057                              Veterinarian
28058                         Systems Architect
28059                 Risk Management Associate
28060                                        IT
28061                    Clinical physiologist

      If your job title needs additional context, please clarify here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                                 55,000
1                                                 54,600
2                                                 34,000
3                                                 62,000
4                                                 60,000
...                                                  ...
28057                                             135000
28058                                             109000
28059                                               1200
28060                                               1700
28061                                            1200000

       How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                    0.0
1                                                 4000.0
2                                                    NaN
3                                                 3000.0
4                                                 7000.0
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                0.0
28060                                               10.0
28061                                                NaN

      Please indicate the currency  \
0                              USD
1                              GBP
2                              USD
3                              USD
4                              USD
...                            ...
28057                          USD
28058                          USD
28059                          USD
28060                          USD
28061                        Other

      If "Other," please indicate the currency here:   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
28057                                             NaN
28058                                             NaN
28059                                             NaN
28060                                             NaN
28061                                             NGN

      If your income needs additional context, please provide it here:  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
28057                                                NaN
28058                                                NaN
28059                                                NaN
28060                                                NaN
28061                                                NaN

      What country do you work in?  \
0                    United States
1                   United Kingdom
2                               US
3                              USA
4                               US
...                            ...
28057               United States
28058                          USA
28059                      Myanmar
28060                        Burma
28061                     Nigeria

      If you're in the U.S., what state do you work in?  \
0                                         Massachusetts
1                                                   NaN
2                                             Tennessee
3                                             Wisconsin
4                                        South Carolina
...                                                 ...
28057                                          Missouri
28058                                           Georgia
28059                                          Colorado
28060                                               NaN
28061                                               NaN

      What city do you work in?  \
0                        Boston
1                     Cambridge
2                   Chattanooga
3                     Milwaukee
4                    Greenville
...                         ...
28057               Wentzville
28058                   Atlanta
28059                    Yangon
28060                    Yangon
28061                     Lagos

      How many years of professional work experience do you have overall?  \
0                                              5-7 years
1                                           8 - 10 years
2                                            2 - 4 years
3                                           8 - 10 years
4                                           8 - 10 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                        2 - 4 years
28061                                        2 - 4 years

      How many years of professional work experience do you have in your field?  \
0                                              5-7 years
1                                              5-7 years
2                                            2 - 4 years
3                                              5-7 years
4                                              5-7 years
...                                                  ...
28057                                      11 - 20 years
28058                                          5-7 years
28059                                        2 - 4 years
28060                                     1 year or less
28061                                        2 - 4 years

      What is your highest level of education completed? What is your gender?  \
0                                        Master's degree                Woman
1                                         College degree           Non-binary
2                                         College degree                Woman
3                                         College degree                Woman
4                                         College degree                Woman
...                                                  ...                  ...
28057                 Professional degree (MD, JD, etc.)                Woman
28058                                     College degree                  Man
28059                                       Some college                  Man
28060                                       Some college                  Man
28061                                     College degree                Woman

      What is your race? (Choose all that apply.)
0                                           White
1                                           White
2                                           White
3                                           White
4                                           White
...                                           ...
28057                                       White
28058                                       White
28059                     Asian or Asian American
28060                     Asian or Asian American
28061                   Black or African American

[28062 rows x 18 columns]>

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [34]:
# Count by hand. I‚Äôm dead serious.
df.size

505116

What are the columns and their types?

In [35]:
# Show the column names and their types.
df.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [38]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']
df.head

<bound method NDFrame.head of                 timestamp    age                       industry  \
0      4/27/2021 11:02:10  25-34   Education (Higher Education)
1      4/27/2021 11:02:22  25-34              Computing or Tech
2      4/27/2021 11:02:38  25-34  Accounting, Banking & Finance
3      4/27/2021 11:02:41  25-34                     Nonprofits
4      4/27/2021 11:02:42  25-34  Accounting, Banking & Finance
...                   ...    ...                            ...
28057  7/12/2024 22:52:01  35-44                    Health care
28058  7/23/2024 17:51:03  25-34              Computing or Tech
28059  7/24/2024 12:22:58  18-24  Accounting, Banking & Finance
28060  7/26/2024 11:20:45  18-24              Computing or Tech
28061   8/20/2024 1:06:13  25-34                    Health care

                                          title title_context   salary  \
0            Research and Instruction Librarian           NaN   55,000
1      Change & Internal Communications Manager           NaN   54,600
2                          Marketing Specialist           NaN   34,000
3                               Program Manager           NaN   62,000
4                            Accounting Manager           NaN   60,000
...                                         ...           ...      ...
28057                              Veterinarian           NaN   135000
28058                         Systems Architect           NaN   109000
28059                 Risk Management Associate           NaN     1200
28060                                        IT           NaN     1700
28061                    Clinical physiologist            NaN  1200000

       additional_compensation currency other_currency salary_context  \
0                          0.0      USD            NaN            NaN
1                       4000.0      GBP            NaN            NaN
2                          NaN      USD            NaN            NaN
3                       3000.0      USD            NaN            NaN
4                       7000.0      USD            NaN            NaN
...                        ...      ...            ...            ...
28057                      NaN      USD            NaN            NaN
28058                      NaN      USD            NaN            NaN
28059                      0.0      USD            NaN            NaN
28060                     10.0      USD            NaN            NaN
28061                      NaN    Other            NGN            NaN

              country           state         city      total_yoe  \
0       United States   Massachusetts       Boston      5-7 years
1      United Kingdom             NaN    Cambridge   8 - 10 years
2                  US       Tennessee  Chattanooga    2 - 4 years
3                 USA       Wisconsin    Milwaukee   8 - 10 years
4                  US  South Carolina   Greenville   8 - 10 years
...               ...             ...          ...            ...
28057  United States         Missouri  Wentzville   11 - 20 years
28058             USA         Georgia      Atlanta      5-7 years
28059         Myanmar        Colorado       Yangon    2 - 4 years
28060           Burma             NaN       Yangon    2 - 4 years
28061        Nigeria              NaN        Lagos    2 - 4 years

            field_yoe         highest_education_completed      gender  \
0           5-7 years                     Master's degree       Woman
1           5-7 years                      College degree  Non-binary
2         2 - 4 years                      College degree       Woman
3           5-7 years                      College degree       Woman
4           5-7 years                      College degree       Woman
...               ...                                 ...         ...
28057   11 - 20 years  Professional degree (MD, JD, etc.)       Woman
28058       5-7 years                      College degree         Man
28059     2 - 4 years                        Some college         Man
28060  1 year or less                        Some college         Man
28061     2 - 4 years                      College degree       Woman

                            race
0                          White
1                          White
2                          White
3                          White
4                          White
...                          ...
28057                      White
28058                      White
28059    Asian or Asian American
28060    Asian or Asian American
28061  Black or African American

[28062 rows x 18 columns]>

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [39]:
# List the unique industries and a count of their instances.
df['industry'].value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [40]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df[df['industry'] == 'Computing or Tech']
df_salary_tech.head

<bound method NDFrame.head of                 timestamp    age           industry  \
1      4/27/2021 11:02:22  25-34  Computing or Tech
8      4/27/2021 11:03:01  45-54  Computing or Tech
43     4/27/2021 11:04:04  25-34  Computing or Tech
44     4/27/2021 11:04:04  25-34  Computing or Tech
46     4/27/2021 11:04:07  35-44  Computing or Tech
...                   ...    ...                ...
28050   7/1/2024 13:38:46  25-34  Computing or Tech
28051   7/1/2024 20:05:58  25-34  Computing or Tech
28052   7/3/2024 14:02:01  25-34  Computing or Tech
28058  7/23/2024 17:51:03  25-34  Computing or Tech
28060  7/26/2024 11:20:45  18-24  Computing or Tech

                                              title  \
1          Change & Internal Communications Manager
8                                   Systems Analyst
43                      Principal Software Engineer
44                             Intelligence Analyst
46                                 Mobile developer
...                                             ...
28050  Research & Systems Technician Data Analytics
28051                          Junior data analyst
28052        Senior Global Public Relations Manager
28058                             Systems Architect
28060                                            IT

                      title_context   salary  additional_compensation  \
1                               NaN   54,600                   4000.0
8      Data developer/ETL Developer  112,000                  10000.0
43                              NaN  187,500                   5000.0
44                              NaN  110,000                  20000.0
46                              NaN  144,600                   2500.0
...                             ...      ...                      ...
28050                           NaN    22000                      NaN
28051                           NaN    35000                  15000.0
28052                           NaN   144000                  15000.0
28058                           NaN   109000                      NaN
28060                           NaN     1700                     10.0

      currency other_currency                 salary_context         country  \
1          GBP            NaN                            NaN  United Kingdom
8          USD            NaN                            NaN              US
43         USD            NaN                            NaN   United States
44         USD            NaN  Around 20,000 a year in stock             USA
46         USD            NaN                            NaN             USA
...        ...            ...                            ...             ...
28050      EUR            NaN                            NaN           Spain
28051      USD            NaN                            NaN             Usa
28052      USD            NaN                            NaN             Usa
28058      USD            NaN                            NaN             USA
28060      USD            NaN                            NaN           Burma

               state                                          city  \
1                NaN                                     Cambridge
8           Missouri                                     St. Louis
43      Pennsylvania                                    Pittsburgh
44          Virginia                                 Arlington, VA
46     Massachusetts                                        Boston
...              ...                                           ...
28050            NaN                                     Barcelona
28051        Alabama                                      Alabama
28052  Massachusetts  Boise-but remote. Company located in Boston
28058        Georgia                                       Atlanta
28060            NaN                                        Yangon

           total_yoe       field_yoe highest_education_completed      gender  \
1       8 - 10 years       5-7 years              College degree  Non-binary
8      21 - 30 years   21 - 30 years              College degree       Woman
43      8 - 10 years       5-7 years              College degree       Woman
44      8 - 10 years    8 - 10 years             Master's degree         Man
46         5-7 years       5-7 years                         PhD       Woman
...              ...             ...                         ...         ...
28050    2 - 4 years     2 - 4 years              College degree         Man
28051    2 - 4 years     2 - 4 years              College degree       Woman
28052   8 - 10 years    8 - 10 years             Master's degree       Woman
28058      5-7 years       5-7 years              College degree         Man
28060    2 - 4 years  1 year or less                Some college         Man

                                      race
1                                    White
8                                    White
43                                   White
44                                   White
46                                   White
...                                    ...
28050  Hispanic, Latino, or Spanish origin
28051            Black or African American
28052                                White
28058                                White
28060              Asian or Asian American

[4699 rows x 18 columns]>

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [42]:
# Sanity Check 
df_salary_tech['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [44]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech = df_salary_tech[df_salary_tech['currency'] == 'USD']
df_salary_tech['currency'].value_counts()

currency
USD    3777
Name: count, dtype: int64

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [45]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech['country'].value_counts()

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [50]:
# Replace them all with 'US'.
values_to_replace = ['United States', 'USA', 'US', 'U.S.', 'United States of America']
new_value = "US"


df_salary_tech['country'] = df_salary_tech['country'].replace(values_to_replace, new_value)

Have a look at the count of each unique country again now.

In [51]:
# Count again.
df_salary_tech['country'].value_counts()

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [53]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')
df_salary_tech = df_salary_tech.dropna(subset=['salary'])

salary_stats = df_salary_tech.groupby('state')['salary'].agg(['min', 'max', 'mean'])
print(salary_stats)

                                     min        max           mean
state
Alabama                          35000.0   350000.0  117400.000000
Arizona                          35000.0   145000.0   97833.333333
Arkansas                             4.0    95000.0   58001.000000
California                           0.0   520000.0  153286.988827
California, Colorado            176000.0   176000.0  176000.000000
California, Maryland             81500.0    81500.0   81500.000000
California, Oregon              200000.0   200000.0  200000.000000
Colorado                         49400.0   165000.0  109291.891892
Connecticut                      68000.0   270000.0  161610.000000
Delaware                        169000.0   169000.0  169000.000000
District of Columbia             59000.0   200000.0  142923.076923
District of Columbia, Virginia  109200.0   109200.0  109200.000000
Florida                          28800.0  2600000.0  210711.000000
Georgia                          29120.0   242000.0  115297.647059
Idaho                            74860.0   170000.0  105465.000000
Illinois                         36000.0   228800.0  117555.571429
Indiana                          15000.0   140000.0   82875.000000
Iowa                             63000.0   142000.0  101200.000000
Kansas                           41500.0   167000.0  109666.666667
Kentucky                         62000.0   125000.0  102500.000000
Louisiana                        75000.0    84000.0   80500.000000
Louisiana, Washington           117000.0   117000.0  117000.000000
Maine                            50000.0   173000.0  103833.333333
Maryland                         62000.0   176000.0  119955.461538
Massachusetts                    41000.0   400000.0  125899.155844
Michigan                         41600.0   235000.0   95758.823529
Michigan, Texas, Washington     340000.0   340000.0  340000.000000
Minnesota                        52124.0   210000.0  101064.941176
Missouri                            80.0   200000.0   80339.923077
Montana                          65000.0   145000.0  112666.666667
Nebraska                         43000.0   140000.0   76736.000000
Nevada                          107100.0   142000.0  124550.000000
New Hampshire                       55.0   130000.0   87175.833333
New Jersey                       67500.0   192000.0  124090.909091
New Jersey, New York            135000.0   140000.0  137500.000000
New Mexico                       82000.0   115200.0   95733.333333
New York                         14000.0   590000.0  146594.112150
North Carolina                   29000.0   165000.0   97841.666667
Ohio                             42000.0   954000.0  137066.666667
Oklahoma                         36958.0   180000.0   84802.571429
Oregon                           16200.0   230000.0  122640.000000
Pennsylvania                     52000.0   237000.0  116826.388889
Rhode Island                     76000.0   122950.0   99475.000000
South Carolina                   40000.0    40000.0   40000.000000
Tennessee                        61500.0   144000.0   91750.000000
Texas                            10700.0   190000.0  103685.245902
Utah                             33280.0   176000.0  105023.333333
Vermont                          91250.0   120000.0  105625.000000
Virginia                         58750.0   378000.0  115086.696970
Washington                          72.0   300000.0  136923.916667
West Virginia                   120000.0   120000.0  120000.000000
Wisconsin                            1.0   920000.0  145806.888889

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [54]:
# Fix it.
df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')
df_salary_tech = df_salary_tech.dropna(subset=['salary'])

/var/folders/46/y4y08_8x10j7n9sdw44rsvgh0000gn/T/ipykernel_74893/2052445453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')

Let‚Äôs try that again.

In [55]:
# Try it again. Yeah!
salary_stats = df_salary_tech.groupby('state')['salary'].agg(['min', 'max', 'mean'])
print(salary_stats)

                                     min        max           mean
state
Alabama                          35000.0   350000.0  117400.000000
Arizona                          35000.0   145000.0   97833.333333
Arkansas                             4.0    95000.0   58001.000000
California                           0.0   520000.0  153286.988827
California, Colorado            176000.0   176000.0  176000.000000
California, Maryland             81500.0    81500.0   81500.000000
California, Oregon              200000.0   200000.0  200000.000000
Colorado                         49400.0   165000.0  109291.891892
Connecticut                      68000.0   270000.0  161610.000000
Delaware                        169000.0   169000.0  169000.000000
District of Columbia             59000.0   200000.0  142923.076923
District of Columbia, Virginia  109200.0   109200.0  109200.000000
Florida                          28800.0  2600000.0  210711.000000
Georgia                          29120.0   242000.0  115297.647059
Idaho                            74860.0   170000.0  105465.000000
Illinois                         36000.0   228800.0  117555.571429
Indiana                          15000.0   140000.0   82875.000000
Iowa                             63000.0   142000.0  101200.000000
Kansas                           41500.0   167000.0  109666.666667
Kentucky                         62000.0   125000.0  102500.000000
Louisiana                        75000.0    84000.0   80500.000000
Louisiana, Washington           117000.0   117000.0  117000.000000
Maine                            50000.0   173000.0  103833.333333
Maryland                         62000.0   176000.0  119955.461538
Massachusetts                    41000.0   400000.0  125899.155844
Michigan                         41600.0   235000.0   95758.823529
Michigan, Texas, Washington     340000.0   340000.0  340000.000000
Minnesota                        52124.0   210000.0  101064.941176
Missouri                            80.0   200000.0   80339.923077
Montana                          65000.0   145000.0  112666.666667
Nebraska                         43000.0   140000.0   76736.000000
Nevada                          107100.0   142000.0  124550.000000
New Hampshire                       55.0   130000.0   87175.833333
New Jersey                       67500.0   192000.0  124090.909091
New Jersey, New York            135000.0   140000.0  137500.000000
New Mexico                       82000.0   115200.0   95733.333333
New York                         14000.0   590000.0  146594.112150
North Carolina                   29000.0   165000.0   97841.666667
Ohio                             42000.0   954000.0  137066.666667
Oklahoma                         36958.0   180000.0   84802.571429
Oregon                           16200.0   230000.0  122640.000000
Pennsylvania                     52000.0   237000.0  116826.388889
Rhode Island                     76000.0   122950.0   99475.000000
South Carolina                   40000.0    40000.0   40000.000000
Tennessee                        61500.0   144000.0   91750.000000
Texas                            10700.0   190000.0  103685.245902
Utah                             33280.0   176000.0  105023.333333
Vermont                          91250.0   120000.0  105625.000000
Virginia                         58750.0   378000.0  115086.696970
Washington                          72.0   300000.0  136923.916667
West Virginia                   120000.0   120000.0  120000.000000
Wisconsin                            1.0   920000.0  145806.888889

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [56]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
df_salary_tech['timestamp'] = pd.to_datetime(df_salary_tech['timestamp'])
df_2021_2022 = df_salary_tech[df_salary_tech['timestamp'].dt.year.isin([2021, 2022])]
salary_stats_filtered = df_2021_2022.groupby('state')['salary'].agg(['min', 'max', 'mean'])
print(salary_stats_filtered)

                                     min       max           mean
state
Alabama                          52000.0  350000.0  138000.000000
Arizona                          35000.0  145000.0   97833.333333
Arkansas                         60000.0   95000.0   77333.333333
California                           0.0  520000.0  153754.893258
California, Colorado            176000.0  176000.0  176000.000000
California, Maryland             81500.0   81500.0   81500.000000
California, Oregon              200000.0  200000.0  200000.000000
Colorado                         49400.0  165000.0  109291.891892
Connecticut                      68000.0  270000.0  161610.000000
Delaware                        169000.0  169000.0  169000.000000
District of Columbia             59000.0  200000.0  142923.076923
District of Columbia, Virginia  109200.0  109200.0  109200.000000
Florida                          28800.0  170000.0  102106.954545
Georgia                          29120.0  242000.0  117222.500000
Idaho                            74860.0  170000.0  105465.000000
Illinois                         36795.0  228800.0  121771.060606
Indiana                          15000.0  140000.0   82875.000000
Iowa                             63000.0  142000.0  101200.000000
Kansas                           41500.0  167000.0  109666.666667
Kentucky                         62000.0  125000.0  102500.000000
Louisiana                        75000.0   84000.0   80500.000000
Louisiana, Washington           117000.0  117000.0  117000.000000
Maine                            50000.0  173000.0  103833.333333
Maryland                         62000.0  176000.0  120250.000000
Massachusetts                    41000.0  400000.0  126576.466667
Michigan                         41600.0  235000.0   95758.823529
Michigan, Texas, Washington     340000.0  340000.0  340000.000000
Minnesota                        52124.0  210000.0  102381.500000
Missouri                            80.0  200000.0   83275.833333
Montana                          65000.0  145000.0  112666.666667
Nebraska                         43000.0  140000.0   76736.000000
Nevada                          107100.0  142000.0  124550.000000
New Hampshire                       55.0  130000.0   87175.833333
New Jersey                       67500.0  192000.0  127500.000000
New Jersey, New York            135000.0  140000.0  137500.000000
New Mexico                       82000.0  115200.0   95733.333333
New York                         14000.0  590000.0  147363.867925
North Carolina                   29000.0  165000.0   97250.000000
Ohio                             42000.0  954000.0  141894.117647
Oklahoma                         36958.0  180000.0   84802.571429
Oregon                           16200.0  230000.0  122640.000000
Pennsylvania                     52000.0  237000.0  116826.388889
Rhode Island                     76000.0  122950.0   99475.000000
Tennessee                        61500.0  144000.0   91750.000000
Texas                            10700.0  185000.0  103386.440678
Utah                             33280.0  176000.0  105023.333333
Vermont                          91250.0  120000.0  105625.000000
Virginia                         58750.0  378000.0  116651.906250
Washington                          72.0  300000.0  137427.774648
West Virginia                   120000.0  120000.0  120000.000000
Wisconsin                            1.0  920000.0  145806.888889

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)