# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [ ]:
# Import here.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [ ]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [ ]:
# How much data did you just load?
df = pd.DataFrame()  # Replace with your actual data loading code, e.g., pd.read_csv(...)
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

What are the columns and their types in this data set?

In [ ]:
# Show the column names and their types.
print("Column names and their data types:")
print(df.dtypes)
print("\nColumn names:")
print(df.columns.tolist())

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [ ]:
# remove the other columns
df = df[['name', 'age', 'city']]
print(df.head())

What about `NaN`s? How many are there?

In [ ]:
# Count NaNs.
nan_counts = df.isna().sum()
print(nan_counts)

We gotta remove those `NaN`s‚Äïthe entire row.

In [ ]:
# remove NaNs:
df = df.dropna()
print(df.head())
print("\nremaining NaNs after drop:", df.isna().sum().sum())

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [ ]:
# But what about the weird non-numeric values in the column obviously meant for numeric data? Notice the data type of that column from when you got the types of all the columns? If only we could convert the column to a numeric type and drop the rows with invalid values. 
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df = df.dropna(subset=['age'])
df['age'] = df['age'].astype(int)
print(df.head())
print("\nremaining NaNs after cleaning 'age':", df['age'].isna().sum())

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [ ]:
# Savey save!
df.to_csv('cleaned_data.csv', index=False)
print("Data saved to 'cleaned_data.csv'")

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [ ]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df_salary = pd.read_csv('AskAManager_SalarySurvey2021_Responses.csv')
print(df_salary.shape)
print(df_salary.columns.tolist())
print(df_salary.head())

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [ ]:
# Count by hand. I‚Äôm dead serious.
# I renamed it response_survey.tsv
df = pd.read_csv('response_survey.tsv', sep='\t')
print(df.shape)
print(df.columns.tolist())
print(df.head())
print("\nDataFrame info:")
print(df.info())

What are the columns and their types?

In [ ]:
# Show the column names and their types.
print(df.dtypes)
print("\nDataFrame shape:", df.shape)
print("\nSample data:")
print(df.head())
print("\nColumn names:", df.columns.tolist())

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [ ]:
# give columns easier names:
df.columns = [
    'timestamp', 'age', 'industry', 'title', 'title_context', 'salary',
    'additional_compensation', 'currency', 'other_currency', 'salary_context',
    'country', 'state', 'city', 'total_yoe', 'field_yoe',
    'highest_education_completed', 'gender', 'race'
]
print("Renamed columns:")
print(df.columns.tolist())

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [ ]:
# List the unique industries and a count of their instances.
industry_counts = df['industry'].value_counts(dropna=False)
print("unique industries and their counts:")
print(industry_counts)

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [ ]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
tech_industries = [
    'Technology', 'Information Technology', 'Software', 'Computer Software',
    'Internet', 'Computer Hardware', 'Telecommunications', 'IT Services',
    'Computer & Network Security', 'Semiconductors', 'Computer Networking',
    'Computer Games', 'E-Learning', 'Data Science', 'Artificial Intelligence',
    'Machine Learning', 'Cloud Computing', 'SaaS', 'Fintech'
]
df_salary_tech = df[df['industry'].isin(tech_industries)].copy()
print("Filtered to tech industries:")
print(df_salary_tech['industry'].value_counts(dropna=False))
print("\nSample of filtered tech salary data:")
print(df_salary_tech.head())

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [ ]:
# Sanity Check:
print("Original df shape:", df.shape)
print("Tech filtered df shape:", df_salary_tech.shape)
print("\nCheck for any industries in df_salary_tech not in tech_industries list:")
print(set(df_salary_tech['industry'].dropna().unique()) - set(tech_industries))
print("\nCheck for any tech_industries missing from df_salary_tech:")
print(set(tech_industries) - set(df_salary_tech['industry'].dropna().unique()))

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [ ]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'].str.upper() == 'USD'].copy()
print("Filtered to tech jobs paying in USD:")
print(df_salary_tech_usd['currency'].value_counts(dropna=False))
print("\nSample of tech salary data paying in USD:")
print(df_salary_tech_usd.head())

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [ ]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
country_counts = df_salary_tech_usd['country'].value_counts(dropna=False)
print("Unique countries for tech jobs paying in USD and their counts:")
print(country_counts)
print("\nSample of countries for tech jobs paying in USD:")
print(df_salary_tech_usd[['country', 'industry', 'salary']].head())

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [ ]:
# Replace them all with 'US'.
df_salary_tech_usd['country'] = 'US'
print("after replacing all countries with 'US':")
print(df_salary_tech_usd['country'].value_counts(dropna=False))
print("\nSample of tech salary data paying in USD with updated country:")
print(df_salary_tech_usd[['country', 'industry', 'salary']].head())

Have a look at the count of each unique country again now.

In [ ]:
# Count again.
country_counts_after = df_salary_tech_usd['country'].value_counts(dropna=False)
print("Country counts after replacement:")
print(country_counts_after)
print("\nsample of tech salary data paying in USD with updated country:")
print(df_salary_tech_usd[['country', 'industry', 'salary']].head())

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

# I noticed that after filtering for USD salaries, the 'country' column still contained many different values, not just 'US'. This suggests that the currency was USD but the job locations were global. Then, replacing all those country values with 'US' was a quick way to unify the data for analysis focused on USD salaries, but it also means losing the original geographic diversity. For more accurate insights, it might be better to standardize or group those country values thoughtfully rather than overwrite them all.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.
country_counts_final = df_salary_tech_usd['country'].value_counts(dropna=False)
print("Final country counts after thoughtful standardization:")
print(country_counts_final)
print("\nSample of tech salary data paying in USD with cleaned country values:")
print(df_salary_tech_usd[['country', 'industry', 'salary']].head())

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state:
# First, ensure we are working only with U.S. data and that the 'state' column exists.
# If the dataset uses a different column name for states or regions, adjust accordingly.

df_us = df_salary_tech_usd[df_salary_tech_usd['country'] == 'US'].copy()

if 'state' not in df_us.columns:
    if 'region' in df_us.columns:
        df_us['state'] = df_us['region']
    else:
        raise KeyError("No 'state' or 'region' column found for U.S. location breakdown.")

salary_stats_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_index()

print("Salary statistics in USD by U.S. state:")
print(salary_stats_by_state)

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [ ]:
# Fix it. Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed:
df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')

df_salary_tech_usd = df_salary_tech_usd.dropna(subset=['salary'])

print("after conversion, 'salary' dtype:", df_salary_tech_usd['salary'].dtype)
print("Salary summary statistics:")
print(df_salary_tech_usd['salary'].describe())

Let‚Äôs try that again.

In [ ]:
# Try it again. Yeah!
df_us = df_salary_tech_usd[df_salary_tech_usd['country'] == 'US'].copy()

if 'state' not in df_us.columns:
    if 'region' in df_us.columns:
        df_us['state'] = df_us['region']
    else:
        raise KeyError("No 'state' or 'region' column found for U.S. location breakdown.")

salary_stats_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_index()

print("Salary statistics in USD by U.S. state:")
print(salary_stats_by_state)

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again:
df_salary_tech_usd['year'] = pd.to_numeric(df_salary_tech_usd['year'], errors='coerce')
df_recent = df_salary_tech_usd[df_salary_tech_usd['year'].isin([2021, 2022, 2023])].copy()

print("Summary statistics for salaries in USD for years 2021, 2022, or 2023:")
print(df_recent['salary'].describe())

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)